body {
margin: 0px;
margin: auto;
}

.row {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4.3em;
  height: 2.42em;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #808080;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.override{
	text-align: center;
  font-weight: 700;
}

body{
	width:100%;
  background: #FFCE71;

}

.header{
	padding: .5em;
	background-color: #E4B354;
	font-size: 1.2em;
}

.fa-arrow-left {
float: left;
color: #815A1F;
padding-top: .15em;
padding-left: .7em;
padding-right: .5em;
}

.fa {
   padding-top: .2em;
}

.col-sm-6 .fa {
  padding-top: .5em;
}

h3 { 
padding-left: .8em;
color: #815A1F;
font-size: 2em;
font-weight: 700;
margin-top: -5px;
}

h3:hover {
  text-decoration: none;
}

.col-sm-6 h2 {
  padding: .5em 1em 0 0;
  margin-left: 1em;
}

.room{
	padding-top: 1.5em;
        
}

.control{
	padding-top: 2em;
	padding-bottom: 4em;
  width: 60%;
  }

.panel-heading {
   border-radius: 2em 2em 0 0;
   padding-bottom: 4em;
   border: none;
}

.panel-default{
	box-shadow: 0 7px 3px -6px black;
  background-color: #FDE7A3;
  border-radius: 2em;
}

.panel-body{
  padding: 1em;
  background-color: #FDF4CA;
  border-radius: 0 0 2em 2em;
}

img {
	margin-top: .1em;
	margin-bottom: 1em;
  width: 30%
  height: auto;
}

.panel-default > .panel-heading {
  background-color: #FDE7A3;
 }

strong {
  color: #815A1F;
}


.col-sm-4 p {
  padding-bottom: 1.5em;
  color: #B19965;
  font-size: 1.3em;
}


p {
    margin: 0 0 10px;
  }


.meter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -1.5em;
}

h1 {
  font-size: 5em;
  padding: 0;
  font-weight: 700;
  margin-top: -.0em;
  color: #161511;
}

.meter2 h3 {
  color: #161511;
  font-weight: 400;
  padding: 0;
  font-size: 2.5em;
  margin: 0;
}

.meter2 h5 {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  text-align: left;
  color: #161511;
  font-style: italic;
}

.fa-inr {
  margin-left: -.8em;
}


@media only screen and (max-width: 600px) {
  .control{
    width: 100%;
  }

  .container {
    padding: 0;
    margin: 5%;
  }

  .text-center {
    width: 100%;
    margin: 0;
  }

  strong {
    font-size: .7em;
  }

  p {
    text-align: center;
  }

  .col-sm-4 p {
    padding-bottom: .5em;
  }

  .col-sm-4 {
    margin-bottom: 1em;
  }

  .switch {
    margin-bottom: 2em;
  }

  .col-sm-6 .fa {
  padding-top: .2em;
  }

  img {
    width: 95%;
    margin-left: 5%;
  }

 .panel-heading > .row {
  margin-left: 0;
 }

 .panel-body > .row {
  margin-left: 0; 

}